<template>
    <div class="inner-item">
        <div class="columns">
            <div class="column">
                <div class="inner-item">
                    <h4 style="margin-bottom: 0.5em;">Projects</h4>
                    <!--one element representing one Project-->
                    <!--Cassandra Bigquery-->
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-64x64">
                                    <img style="border-radius: 0.5em"
                                         src="http://www.androidos.in/wp-content/uploads/2013/12/carwale-logo.png"
                                         alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p><!--title-->
                                        <span style="font-size:1.4em">Cassandra BigQuery <span style="font-size:0.7em"> , Internship Project </span></span>
                                        <router-link to="/projects/bigquery"><span
                                                class="tag is-primary"> Know More </span></router-link>

                                        <br>
                                        Carwale.com , May - June 2017<br>
                                        <b> Python , Flask, Scala , Spark , Cassandra</b>
                                    </p>
                                </div><!--font-awesome icons-->
                            </div>
                        </article>
                    </div>

                    <!--KisanMitra-->
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-64x64">
                                    <img style="border-radius: 0.5em" src="http://i.imgur.com/RxaZWYI.jpg" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p><!--title-->
                                        <span style="font-size:1.4em">Kisan Mitra <span style="font-size:0.7em"> , Minor Project </span>
                                           <router-link to="/projects/kisanmitra"><span class="tag is-primary"> Know More </span></router-link>
                                       </span>
                                        <br>
                                        MANIT , Jan - March, 2017<br>
                                        <b> Laravel Web Framework, Machine Learning , Python, Scikit-Learn ,PHP ,
                                            JQuery</b>
                                    </p>
                                </div><!--font-awesome icons-->
                            </div>
                        </article>

                    </div>

                    <!--GrabPustak-->
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-64x64">
                                    <img src="/static/images/grabpustak.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p><!--title-->
                                        <span style="font-size:1.4em"> GrabPustak <span style="font-size:0.7em"> , Online Library </span>
                                         <router-link to="/projects/grabpustak"><span
                                                 class="tag is-primary"> Know More </span></router-link>
   
                                       </span>
                                        <br>
                                        Online Library for sharing Notes and Free Books<br>
                                        <b>CodeIgniter Web Framework, PHP, MySQL , JQuery , Javascript, Ajax</b>
                                    </p>
                                </div><!--font-awesome icons-->
                            </div>
                        </article>
                    </div>

                    <!--ManitMoodle-->
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-64x64">
                                    <img src="https://h5p.org/sites/default/files/moodle-icon-page_0.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p><!--title-->
                                        <span style="font-size:1.4em"> ManitMoodle <span style="font-size:0.7em"> , Software Engineering Assignment Project </span>
                                         <router-link to="/projects/manitmoodle"><span
                                                 class="tag is-primary"> Know More </span></router-link>
                                       </span>
                                        <br>
                                        Online Assignment Submission and Discussion WebApp<br>
                                        <b>PHP, MySQL , Javascript, HTML, CSS</b>
                                    </p>
                                </div><!--font-awesome icons-->
                            </div>
                        </article>
                    </div>

                    <!--Captcha-->
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-64x64">
                                    <img src="https://maxcdn.icons8.com/Share/icon/Security//captcha1600.png"
                                         alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p><!--title-->
                                        <span style="font-size:1.4em"> Captcha Validation <span style="font-size:0.7em"> , PHP/Android Assignment Project </span>
                                         <router-link to="/projects/captcha"><span
                                                 class="tag is-primary"> Know More </span></router-link>
                                       </span>
                                        <br>
                                        Online Captcha Validation Application<br>
                                        <b>HTML, CSS, Bootstrap, JavaScript , PHP </b>
                                    </p>
                                </div><!--font-awesome icons-->
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {

    }
</script>

<style>

</style>